<link href="css/app/templates/header.css" rel="stylesheet" />
<div class="header">
    <div class="logo"></div>
    <div class="left-container">
        <div class="home" id="home_btn"></div>
        <div class="search">
            <input type="text" class="search-txt" id="search_txt"/>
        </div>
    </div>
    <div class="right-container">
        <div class="notification">
            <div class="count"></div>
        </div>
        <div class="avatar" id="avatar_img"></div>
        <div class="username" id="username_lbl"></div>
        <div class="logout" id="logout_btn"></div>
    </div>
</div>